root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[*.{h,cc}]
indent_size = 2
max_line_length = 100

[*.java]
indent_size = 2
max_line_length = 100

[*.{kts,smithy}]
indent_size = 4

[*.{yml,yaml,json}]
indent_size = 2

[{BUILD,*.BUILD,*.bazel,*.bzl}]
indent_size = 4
